<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="7.5" name="asahi-opensuse">
    <description type="system">
        <author>Mark</author>
        <contact>me@email.com</contact>
        <specification>Tumbleweed for Apple Silicon</specification>
    </description>
    <preferences>
        <version>0.1.0</version>
        <packagemanager>zypper</packagemanager>
        <bootsplash-theme>bgrt</bootsplash-theme>
        <bootloader-theme>openSUSE</bootloader-theme>
        <locale>en_US</locale>
        <keytable>us</keytable>
	<timezone>UTC</timezone>
        <rpm-check-signatures>true</rpm-check-signatures>
        <type image="oem" filesystem="btrfs" fsmountoptions="x-systemd.growfs,compress=zstd:1" kernelcmdline="splash=silent quiet security=selinux" firmware="uefi" bootpartition="false" efipartsize="512" target_blocksize="4096" btrfs_root_is_snapshot="true" btrfs_set_default_volume="true" rootfs_label="opensuse">
            <bootloader name="grub2" console="gfxterm" timeout="3"/>
            <systemdisk name="opensuse">
                <volume name="home"/>
		<volume name="root"/>
		<volume name="srv"/>
		<volume name="opt"/>
		<volume name="var" copy_on_write="false"/>
		<volume name="usr/local"/>
		<volume name="tmp"/>
            </systemdisk>
            <oemconfig>
	        <oem-resize>false</oem-resize>
                <oem-skip-verify>true</oem-skip-verify>
	    </oemconfig>
        </type>
    </preferences>
    <users>
        <user pwdformat="plain" password="root" home="/root" name="root" groups="root"/>
    </users>
    <profiles>
        <profile name="Tumbleweed" description="Tumbleweed base"/>
        <profile name="Tumbleweed-KDE" description="Tumbleweed with KDE desktop">
            <requires profile="Tumbleweed"/>
        </profile>
    </profiles>
    <include from="this://./repos.xml"/>
    <!-- Asahi repo -->
    <repository type="rpm-md" alias="asahi" priority="1" repository_gpgcheck="false" package_gpgcheck="false" imageinclude="true">
	<source path="http://download.opensuse.org/repositories/home:/mrkcee/openSUSE_Factory_ARM/"/>
    </repository>
    <packages type="bootstrap" patternType="plusRecommended">
        <package name="which"/>
	<package name="gawk"/>
	<package name="sed"/>
	<package name="gzip"/>
	<package name="diffutils"/>
	<package name="grep"/>
	<package name="coreutils"/>
        <package name="suse-module-tools-scriptlets"/>
	<package name="openSUSE-release"/>
	<package name="openSUSE-release-dvd"/>
    </packages>
    <packages type="image" patternType="plusRecommended">
        <ignore name="patterns-base-x11"/>
        <ignore name="patterns-base-x11_enhanced"/>
        <ignore name="patterns-yast-x11_yast"/>
        <ignore name="yast2-x11"/>
        <ignore name="xterm"/>
        <ignore name="xscreensaver"/>
        <ignore name="tigervnc"/>
        <package name="patterns-base-base"/>
        <package name="patterns-base-enhanced_base"/>
        <package name="patterns-base-documentation"/>
        <package name="patterns-base-selinux"/>
    </packages>
    <packages type="image" patternType="onlyRequired">
        <package name="grub2"/>
        <package name="grub2-arm64-efi" arch="aarch64"/>
        <package name="grub2-branding-openSUSE"/>
        <package name="branding-openSUSE"/>
        <package name="squashfs"/>
        <package name="cron"/>
        <package name="cronie"/>
        <package name="chrony"/>
        <package name="chrony-pool-openSUSE"/>
        <package name="dracut"/>
        <package name="dracut-kiwi-oem-repart"/>
        <package name="zypper-lifecycle-plugin"/>
        <package name="zypper-needs-restarting"/>
        <package name="tar"/>
        <package name="7zip"/>
	<package name="util-linux"/>
        <package name="NetworkManager"/>
        <package name="NetworkManager-branding-openSUSE"/>
	<package name="NetworkManager-dns-dnsmasq"/>
        <package name="NetworkManager-tui"/>
        <package name="git-core"/>
        <package name="pciutils"/>
	<package name="lzfse"/>
	<package name="plymouth"/>
	<package name="plymouth-branding-openSUSE"/>
	<package name="plymouth-dracut"/>
	<package name="plymouth-theme-bgrt"/>
        <package name="plymouth-theme-spinner"/>
	<package name="systemd-firstboot"/>
	<package name="systemd-homed"/>
	<package name="systemd-network"/>
	<package name="systemd-default-settings-branding-openSUSE"/>
	<package name="systemd-presets-branding-openSUSE"/>
	<package name="fastfetch"/>
        <!-- btrfs -->
        <package name="btrfsprogs"/>
        <package name="btrfsmaintenance"/>
        <package name="snapper"/>
        <package name="snapper-zypp-plugin"/>
        <package name="grub2-snapper-plugin"/>
    </packages>
    <packages type="image" patternType="onlyRequired"> 
        <package name="kernel-asahi"/>
        <package name="dtb-apple"/>
        <package name="uboot-asahi"/>
        <package name="asahi-bless"/>
	<package name="asahi-btsync"/>
	<package name="asahi-nvram"/>
	<package name="asahi-wifisync"/>
        <package name="asahi-scripts"/>
	<package name="asahi-fwextract"/>
	<package name="asahi-fwupdate"/>
        <package name="update-m1n1"/>
	<package name="speakersafetyd"/>
	<package name="system-user-speakersafetyd"/>
        <package name="Mesa"/>
        <package name="Mesa-dri"/>
        <package name="Mesa-dri-asahi"/>
	<package name="lv2-lsp-plugins"/>
	<package name="bankstown-lv2"/>
	<package name="triforce-lv2"/>
	<package name="asahi-audio"/>
	<package name="alsa-ucm-conf-asahi"/>
	<package name="pipewire"/>
	<package name="pipewire-alsa"/>
	<package name="pipewire-pulseaudio"/>
	<package name="wireplumber"/>
    </packages>
    <packages type="image" profiles="Tumbleweed-KDE" patternType="onlyRequired"> 
        <ignore name="plasma6-session-x11"/>
	<package name="patterns-kde-kde_plasma"/>
	<package name="kdeplasma6-addons"/>
	<package name="opensuse-welcome"/>
	<package name="plasma6-branding-openSUSE"/>
	<package name="sddm-kcm6"/>
	<package name="sddm-qt6"/>
	<package name="sddm-qt6-branding-openSUSE"/>
	<package name="hicolor-icon-theme-branding-openSUSE"/>
	<package name="libopenh264-7"/>
	<package name="gstreamer-plugin-openh264"/>
	<package name="konsole"/>
	<package name="gwenview"/>
	<package name="ark"/>
	<package name="dolphin"/>
	<package name="filelight"/>
	<package name="partitionmanager"/>
	<package name="kipi-plugins"/>
	<package name="okular"/>
	<package name="spectacle"/>
	<package name="gwenview"/>
	<package name="kcalc"/>
	<package name="kate"/>
	<package name="skanlite"/>
	<package name="avahi"/>
	<package name="kamoso"/>
	<package name="google-roboto-fonts"/>
	<package name="google-roboto-mono-fonts"/>
	<package name="google-roboto-slab-fonts"/>
	<package name="google-noto-sans-cjk-fonts"/>
	<package name="jetbrains-mono-fonts"/>
	<package name="fira-code-fonts"/>
	<package name="ubuntu-fonts"/>
	<package name="libqt5-qtwayland"/>
	<package name="flatpak"/>
	<package name="cups"/>
    </packages>
</image>
